<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
</head>
<body>
    <header class="header-home">
        <div>
            <div class="datos-header-top">
                <img src="/img/logo-mercado-liebre.svg" alt="logo mercado liebre" class="logo">
                <div class="busqueda-lupa">
                    <input placeholder= "Buscar productos, marcas y más" class="input-busqueda"> </input>
                    <button> <i class="fas fa-search" id="lupa"></i></button>
                </div>
                <p i class="fas fa-hand-holding-usd" id="compra-en-cuotas"></i> Comprá en cuotas y sin tarjeta de crédito </p>
            </div>

            <p i class="fas fa-hand-holding-usd" id="compra-en-cuotas2"></i> Comprá en cuotas y sin tarjeta de crédito </p>
            <div class="datos-header-bottom">
                <div class="datos-header-bottom-1">
                    <p> Todos los productos </p>
                    <p> Ofertas </p>
                    <p> Tiendas Oficiales </p>
                    <p> Vender </p>
                    <p> Ayuda </p>
                </div>

                <div class="datos-header-bottom-2"> 
                    <a href="../register.html"> <p> Creá tu cuenta </p> </a> <i class="far fa-id-card"></i> 
                    <a href="../login.html"> <p> Ingresá </p> </a> <i class="fas fa-sign-in-alt"></i> 
                    <p> Mis compras <i class="fas fa-shopping-basket"></i> </p>
                </div>

            </div>

            <div class="datos-header-bottom-3"> 
                <a href="../register.html"> <p> Creá tu cuenta </p> </a> <i class="far fa-id-card"></i> 
                <a href="../login.html"> <p> Ingresá </p> </a> <i class="fas fa-sign-in-alt"></i> 
                <p> Mis compras <i class="fas fa-shopping-basket"></i> </p>
            </div>

            <i class="fas fa-bars" id="hamburger"></i>

            <div class="espacio"></div>
        </div>
    </header>

    <main class="main-home">
        <img src="/img/img-home-banner.jpg" alt="banner del home" class="foto-banner">

        <h3> Basado en tu última visita </h3>
        <div class="cajas">
            <div class="cajas-2">
                <div class="caja-contenedora-1">
                    <img src="/img/img-cafetera-moulinex.jpg" id="foto-producto">
                        <div class="caja-contenedora-sin-foto">
                            <i class="fas fa-truck" id="icono-delivery"></i>
                                <div class="precio-descuento">
                                    <p class="precio"> $6.770 </p>
                                    <p class="descuento"> 40% OFF </p>
                                </div>
                            <p class="nombre-producto"> Cafetera Moulinex </p>
                        </div>
                </div>

                <div class="caja-contenedora-2">
                    <img src="/img/img-macbook-pro-2019.jpg" id="foto-producto">
                        <div class="caja-contenedora-sin-foto">
                            <i class="fas fa-truck"></i>

                                <div class="precio-descuento">
                                    <p class="precio"> $230.000 </p>
                                    <p class="descuento"> 20% OFF </p>
                                </div>
                                <p class="nombre-producto"> MacBook Pro 2019 </p>
                        </div>
                </div>
            </div>


            <div class="cajas-2">
                <div class="caja-contenedora-3">
                    <img src="/img/img-samsung-galaxy-s10.jpg" id="foto-producto">
                        <div class="caja-contenedora-sin-foto">
                            <i class="fas fa-truck"></i>
                                <div class="precio-descuento">
                                    <p class="precio"> $70.500 </p>
                                    <p class="descuento"> 10% OFF </p>
                                </div>
                            <p class="nombre-producto"> Samsung Galaxy S10 </p>
                        </div>
                </div>

                <div class="caja-contenedora-4">
                    <img src="/img/img-tv-samsung-smart.jpg" id="foto-producto">
                        <div class="caja-contenedora-sin-foto">
                            <i class="fas fa-truck"></i>
                                <div class="precio-descuento">
                                    <p class="precio"> $65.890 </p>
                                    <p class="descuento"> 15% OFF </p>
                                </div>
                            <p class="nombre-producto"> Smart TV Samsung </p>
                        </div>
                </div>
            </div>    
        </div>
                          
    </main>
    <footer class="footer-home">
        <div class="footer-datos">
            <div class="footer-logo-texto">
                <i class="fas fa-credit-card" id="iconos-footer"></i>
                <h4> Pagá con tarjeta o en efectivo </h4>
                <p class="descripcion-footer"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
            </div>
            <div class="footer-logo-texto">
                <i class="fas fa-gift" id="iconos-footer"></i>
                <h4> Envío gratis desde $2.500 </h4>
                <p class="descripcion-footer"> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. </p>
            </div>
            <div class="footer-logo-texto">
                <i class="fas fa-user-shield" id="iconos-footer"></i>
                <h4> Seguridad de principio a fin </h4>
                <p class="descripcion-footer"> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@. </p>
            </div>
        </div>

            <h6> Copyright © 1999-2020 MercadoLiebre S.R.L. </h6>
        
    </footer>
    
</body>
</html>